body {
    background-color: powderblue;
    text-align: left;
    font-size: 30px;
  }

h1 {
    text-align: center;
  }

p {
    text-align: center;
  }

.intro {
    text-align: left;
    margin-bottom: 3cm;
}
  
ul {
    text-align: left;
  }
  
img {
    max-width: 50%;
    height: auto;
    border-radius: 50%;
  }

.image2 {
      max-width: 50%;
      height: auto;
      border-radius: 0%;

}

.container {
    display: grid;
    grid-template-columns: auto auto auto;
}
  

.item1 {
    grid-column-start: 1;
    grid-column-end: 3;
}

.item2 {
    grid-column-start: 3;
    grid-column-end: 4;
}

.item3 {
    grid-column-start: 1;
    grid-column-end: 2;
}

.item4 {
    grid-column-start: 2;
    grid-column-end: 4;
}

  /* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
  }
