body {
    background-color: powderblue;
    text-align: center;
    font-size: 30px;
  }

h1 {
    text-align: center;
  }

p {
    text-align: center;
  }
  
ul {
    text-align: left;
  }
  
img {
    margin-top: 100px;
    max-width: 50%;
    height: auto;
    border-radius: 50%;
  }

.image2 {
      margin-top: 100px;
      max-width: 50%;
      height: auto;
      border-radius: 0%;

}


.left {
    margin-left: 2%;
    width: 58%;
    float: left
  }
  
.right {
    width: 40%;
    float: right
  }

.container {
    display: grid;
    grid-template-columns: auto auto auto;
}
  
  /* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
  }
