body {
    background-color: powderblue;
    text-align: center;
    font-size: 30px;
  }

h1 {
    text-align: center;
  }

p {
    text-align: center;
  }
  
ul {
    text-align: left;
  }
  
img {
    max-width: 50%;
    height: auto;
    border-radius: 50%;
  }


.left {
    width: 60%;
    float: left
  }
  
.right {
    width: 40%;
    float: left
  }
  
  /* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
  }